.body {
    background-color: aliceblue;
}

.heade {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    text-decoration: underline;
    text-align: center;
}

.event {
    display: flex;
}

.left {
    font-size: 40px;
    background-color: antiquewhite;
    margin: 0px 10px 0px 0px;
    text-align: start;
    width: 200px;
    border: 4px solid #ff9933;
}

.right {
    font-size: 40px;
    background-color: aquamarine;
    width: 1000px;
    text-align: start;
    border: 4px solid yellowgreen;
}